:root {
  --black: #000;
  --bg-white: #ddd;
  --white: white;
  --content-button-gray: #aaa;
  --content-gray: #ccc;
  --block-quote: #c4c4c4;
  --font-family: Inconsolata, monospace;
  --size: 0px;
  --review-gray: #b7b7b7;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

body {
  color: #000;
  letter-spacing: 0;
  text-transform: none;
  background-color: #000;
  padding: 2rem;
  font-family: Courier Prime, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.5rem;
}

h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
}

p {
  margin-bottom: 0;
  font-size: .9rem;
}

a {
  color: #000;
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

.body {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-flow: column;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
}

.section {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  background-color: #ddd;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: space-around;
  padding: 1rem;
}

.section.desktop-nav {
  padding-bottom: 0;
}

.section.archive {
  background-color: var(--black);
  height: 40vh;
  margin-top: 1rem;
  margin-bottom: -1.25rem;
  padding: 1rem 0 2.25rem;
  overflow: scroll;
}

.container {
  flex-flow: column;
  max-width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
}

.desktop-logo-wrapper {
  max-width: 75%;
}

.txt-spacing-great {
  letter-spacing: .4em;
  margin-right: -.4em;
}

.slash {
  vertical-align: text-bottom;
  max-height: .75rem;
  display: inline-block;
}

.div-underline {
  background-color: #000;
  height: 1px;
  display: none;
}

.div-underline:hover {
  background-color: var(--bg-white);
}

.desktop-nav-grid {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-rows: auto;
  grid-template-columns: 4fr 1fr 1fr;
  align-content: center;
  justify-content: space-between;
  justify-items: start;
  margin-bottom: .55rem;
  display: grid;
}

.desktop-nav-wrapper {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  margin-left: -.7em;
  display: inline-grid;
}

.icon-grid {
  grid-column-gap: .7em;
  grid-row-gap: .7em;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.desktop-nav-link-wrapper {
  vertical-align: baseline;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: .5rem;
  margin-left: .7em;
  display: inline-flex;
}

.slash-wrapper {
  opacity: .7;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  min-width: .6em;
  display: block;
}

.contact-wrapper-desktop {
  border-bottom: .1em solid #000;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  align-content: space-between;
  padding: .25rem 1rem;
  display: inline-grid;
}

.contact-wrapper-desktop:hover {
  background-color: var(--black);
  color: var(--bg-white);
}

.contact-wrapper-desktop.link-style-nav {
  color: var(--black);
  text-decoration: none;
}

.contact-wrapper-desktop.link-style-nav:hover {
  color: var(--bg-white);
}

.nav-button {
  border-bottom: .2rem solid rgba(0, 0, 0, 0);
  padding: .4em .4em 0;
  font-size: .9rem;
}

.nav-button:hover {
  border-bottom-color: #000;
  text-decoration: none;
}

.nav-button:lang(en) {
  color: #000;
  border-bottom-width: .2rem;
}

.social-wrapper-desktop {
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  align-content: space-between;
  margin-left: .75rem;
  padding: .25rem;
  display: inline-grid;
}

.icon-socials {
  width: 1.5em;
  min-width: 1.5em;
  display: inline;
}

.icon-socials:hover {
  background-color: var(--white);
  mix-blend-mode: difference;
  border: .1rem solid #000;
  border-radius: .3rem;
}

.txt-lower-small {
  text-transform: none;
  font-size: .9em;
}

.desktop-logo {
  padding-left: 1em;
}

.legal-link {
  color: #000;
  padding-left: 1rem;
  padding-right: 1rem;
  text-decoration: none;
  display: inline;
}

.legal-wrapper.txt-upper-small {
  text-transform: uppercase;
  font-size: .7rem;
  display: inline;
}

.desktop-footer-grid {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 8fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.social-wrapper-mobile {
  grid-column-gap: .7em;
  grid-row-gap: .7em;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  display: none;
}

.icon-verysmall, .icon-lock, .icon-arrowup {
  width: 1em;
  min-width: 1em;
  display: inline;
}

.button {
  display: none;
}

.divider {
  border-bottom: 1px solid #000;
  margin-top: .5rem;
  display: none;
}

.grid-5 {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-flow: column;
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr;
  display: flex;
}

.form-block-2 {
  flex-flow: column;
  justify-content: flex-start;
  margin-bottom: 0;
}

.form-block-2:hover {
  color: var(--bg-white);
}

.columns {
  margin-left: 0;
  padding-left: 10px;
}

.column {
  padding-left: 0;
  padding-right: 0;
}

.grid-6 {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-rows: auto auto;
  grid-template-columns: 2fr 1fr;
}

._2col-4row {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-rows: auto auto auto auto;
  grid-template-columns: 1fr .5fr;
}

.image-wrapper {
  background-color: var(--content-gray);
  border: 5px solid #000;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 1rem;
}

.image-wrapper.img-abt {
  background-image: url('../images/IMG_0141.jpg');
  background-position: 50%;
  background-size: cover;
  margin-left: 0;
}

.image-wrapper.img-contact {
  background-image: url('../images/laughingLeavesCropped_600px.png');
  background-position: 50%;
  background-size: cover;
}

.image-wrapper.img-orders {
  background-color: var(--black);
  background-image: url('../images/NACEbutterflypoem.jpg');
  background-position: 50%;
  background-size: cover;
}

.content-heading {
  text-align: right;
  padding-top: 1rem;
  padding-left: 0;
  padding-right: 0;
  font-size: 1.7rem;
}

.content-heading._1col {
  padding-left: 0;
  padding-right: 0;
}

.content-heading.h2-content-heading-main {
  text-align: right;
  text-transform: lowercase;
  padding-top: 0;
  padding-right: 0;
}

.content-wrapper {
  padding: 1rem;
}

.content-wrapper.blockquote {
  padding-top: 0;
  padding-right: 0;
}

.content-wrapper.legal {
  margin-left: .25rem;
}

.txt-content {
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 1rem;
  font-size: 1rem;
}

.txt-content.blockquote {
  background-color: var(--block-quote);
  text-align: right;
  margin-left: 2rem;
  margin-right: 1rem;
  padding: 1rem;
  font-size: .8rem;
}

.cta {
  background-color: var(--content-button-gray);
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-weight: 700;
}

.cta:hover {
  background-color: var(--black);
  color: var(--bg-white);
}

.cta.orders {
  color: var(--bg-white);
  padding-top: 0;
  padding-bottom: 0;
}

.cta.orders:hover {
  color: var(--bg-white);
}

.content-heading-wrapper {
  border-bottom: .1rem solid #000;
  justify-content: flex-end;
  max-width: 100%;
  margin-left: 1rem;
  margin-right: 1rem;
}

.content-main-wrapper {
  background-color: var(--content-gray);
  flex-flow: column;
  max-width: 100%;
  margin-top: 0;
}

.content-main-wrapper._1col {
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  overflow: hidden;
}

.page-heading {
  text-align: right;
  text-transform: lowercase;
  justify-content: flex-end;
  align-items: stretch;
}

.txt-button {
  letter-spacing: .1em;
  background-color: rgba(0, 0, 0, 0);
  margin-top: 0;
  margin-bottom: 0;
  padding: 1rem;
  text-decoration: underline;
}

.txt-button:hover {
  padding-left: 0;
  padding-right: 0;
}

.txt-button.orders {
  color: var(--black);
  width: 100%;
  padding: 1rem;
}

.txt-button.orders:hover {
  color: var(--bg-white);
}

.txt-content-subheading {
  margin-top: 0;
  margin-bottom: 0;
  padding: .5rem 1rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
}

.txt-content-subheading.starter {
  text-align: right;
  padding: 0 0 1rem .75rem;
  font-size: 1rem;
}

._2col-1row {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-rows: auto;
  grid-template-columns: 1fr .5fr;
}

.txt-content-copy {
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 1.65rem;
  font-family: PT Sans, sans-serif;
  font-size: 1rem;
}

.archive-columns {
  column-count: 3;
  column-gap: 1rem;
}

.image-wrapper-archive {
  background-color: var(--content-gray);
  margin-bottom: 1rem;
}

.image-wrapper-archive:hover {
  opacity: 1;
}

.wrapper {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  opacity: .75;
  mix-blend-mode: multiply;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
}

.wrapper.archive {
  min-height: 20vh;
  max-height: 20vh;
  margin-bottom: 0;
  padding-top: 1rem;
  overflow: hidden;
}

.heading-wrapper {
  border-bottom: .1rem solid #000;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.form-wrapper {
  color: rgba(0, 0, 0, 0);
}

.form-wrapper:hover {
  color: var(--bg-white);
}

.standard-slide {
  width: 15rem;
}

.img-lightbox:hover {
  filter: invert();
}

.slide-nav-2 {
  display: none;
}

.poems-slider {
  max-height: 10rem;
}

.poems-slider.archive {
  background-color: var(--white);
}

.slider-arrow-left.archive-slide-arrows-left {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  background-color: var(--black);
  border-right: 1rem solid #fff;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
}

.slider-arrow-left.archive-slide-arrows-left:hover {
  filter: invert(65%);
}

.slider-arrow-left.archive-slide-arrows-right {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  background-color: var(--black);
  border-left: 1rem solid #fff;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
}

.slider-arrow-left.archive-slide-arrows-right:hover {
  filter: invert(65%);
}

.slider-arrow-icons {
  background-color: var(--black);
  opacity: .5;
}

.slider-arrow-icons:hover {
  opacity: 1;
}

.slider-mask-poem {
  opacity: 1;
  mix-blend-mode: luminosity;
}

.slider-mask-poem.archive {
  opacity: 1;
}

.txt-content-fine {
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 1rem;
  font-family: PT Sans, sans-serif;
  font-size: 1rem;
}

.txt-content-subheading-fine {
  margin-top: 0;
  margin-bottom: 0;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
}

.txt-content-subheading-fine.starter {
  padding-top: 0;
}

.utility-page-wrap {
  background-color: var(--bg-white);
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
  display: flex;
}

.utility-page-content {
  text-align: center;
  flex-direction: column;
  width: 19rem;
  display: flex;
}

.text-block-3 {
  letter-spacing: -.1em;
  border-top: 1px dashed #000;
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 1rem;
}

.heading-5 {
  letter-spacing: .01rem;
  margin-top: 5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 1rem;
  font-family: Inconsolata, monospace;
  font-weight: 700;
}

.utility-page-form {
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

.subheading-wrapper {
  border-bottom: .1rem solid #000;
  justify-content: flex-end;
  max-width: 100%;
}

.horizontal-scroll-hidden {
  overflow: hidden;
}

.link {
  text-align: center;
}

.slider-div {
  flex-flow: row;
  justify-content: center;
  align-items: flex-start;
  display: flex;
}

.device-nav {
  display: none;
}

.device-footer {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 8fr;
  grid-auto-columns: 1fr;
  display: none;
}

.slider-arrow-right {
  background-color: var(--black);
  opacity: .5;
}

.slider-arrow-right:hover {
  opacity: 1;
}

.page-top {
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: auto;
}

@media screen and (max-width: 991px) {
  .body {
    padding: .5rem;
  }

  .section {
    padding: 0 .5rem;
  }

  .section.main {
    margin-bottom: 4.88672rem;
    padding-bottom: 1rem;
  }

  .section.desktop-footer {
    display: none;
  }

  .container {
    padding-left: .5rem;
    padding-right: .5rem;
  }

  .slash {
    max-height: 1rem;
  }

  .desktop-nav-grid {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    grid-template-rows: auto;
    grid-template-columns: 4fr 1fr 1fr;
    grid-auto-columns: 1fr;
    align-items: stretch;
    justify-items: stretch;
    display: inline-grid;
  }

  .slash-wrapper {
    padding-top: .2rem;
  }

  .contact-wrapper-desktop {
    display: none;
  }

  .nav-button {
    font-size: 1em;
  }

  .social-wrapper-desktop {
    display: none;
  }

  .desktop-logo {
    padding-top: 1rem;
    display: block;
  }

  .legal-link.padding-left-zero {
    padding-left: 0;
  }

  .legal-wrapper.txt-upper-small {
    border-top: 1px solid #000;
    padding-top: .75em;
    display: inline-flex;
  }

  .social-wrapper-mobile {
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    margin-bottom: .25rem;
    padding-bottom: .25rem;
    display: inline-grid;
  }

  .icon-verysmall, .icon-lock {
    display: none;
  }

  .icon-arrowup {
    width: .8em;
    min-width: .5em;
  }

  .icon-arrowup:hover {
    transform: scale(1.5);
  }

  .button {
    letter-spacing: .25em;
    text-transform: uppercase;
    background-color: #000;
    margin-top: .5rem;
    padding: 1rem 3rem;
    text-decoration: none;
    display: block;
  }

  .button:hover {
    background-color: var(--content-button-gray);
    color: var(--black);
    mix-blend-mode: exclusion;
    font-weight: 700;
  }

  .grid-6 {
    grid-template-columns: 2fr;
  }

  .txt-field-txt-style {
    color: #000;
    font-size: .75rem;
  }

  ._2col-4row {
    grid-template-columns: 1fr;
  }

  .image-wrapper.img-abt {
    margin-left: 0;
  }

  .image-wrapper.img-contact {
    background-image: url('../images/laughingLeavesCropped_600px.png');
    background-position: 50% 30%;
    background-size: cover;
    background-attachment: scroll;
    min-height: 70vh;
    margin-left: 0;
  }

  .content-heading.h2-content-heading-main {
    font-size: 1.5rem;
  }

  .content-main-wrapper.margin-bottom {
    margin-top: 0;
  }

  .page-heading {
    font-size: 1.5rem;
  }

  .form-wrapper {
    margin-top: 1rem;
  }

  .device-footer {
    grid-column-gap: 0rem;
    grid-row-gap: 0rem;
    background-color: var(--bg-white);
    border-bottom: .5rem solid #000;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 4fr 1fr;
    grid-auto-columns: 1fr;
    margin-left: .5rem;
    margin-right: .5rem;
    padding: 1rem 1.5rem .35rem;
    display: grid;
    position: fixed;
    top: auto;
    bottom: 0%;
    left: 0%;
    right: 0%;
  }
}

@media screen and (max-width: 767px) {
  a:hover {
    background-color: var(--black);
    color: var(--bg-white);
  }

  .body {
    padding: .25rem;
  }

  .section {
    padding-top: 0;
  }

  .section.desktop-nav {
    display: none;
  }

  .section.main {
    margin-bottom: 4.25rem;
    padding-bottom: .5rem;
  }

  .section.desktop-nav-true {
    display: none;
  }

  .container {
    padding-left: 0;
    padding-right: 0;
  }

  .desktop-nav-grid {
    display: none;
  }

  .desktop-logo {
    max-width: none;
  }

  .legal-wrapper.txt-upper-small {
    display: none;
  }

  .social-wrapper-mobile {
    border-top: .1rem solid #000;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }

  .divider {
    margin-top: 0;
    margin-left: .5rem;
    margin-right: .5rem;
    display: block;
  }

  .columns {
    padding-left: 0;
  }

  .image-wrapper.img-orders {
    min-height: 25vh;
    margin-top: .5rem;
    margin-left: 0;
  }

  .content-heading {
    text-align: center;
    padding-right: 0;
    font-size: 1.25rem;
  }

  .content-heading.h2-content-heading-main {
    padding-bottom: .25rem;
    box-shadow: 0 5px 5px -5px rgba(0, 0, 0, .2);
  }

  .content-main-wrapper {
    margin-top: 0;
  }

  .page-heading {
    mix-blend-mode: luminosity;
    font-size: 1.25rem;
    box-shadow: 0 5px 5px -5px rgba(0, 0, 0, .2);
  }

  .txt-content-subheading.starter {
    text-align: center;
  }

  ._2col-1row {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
  }

  .txt-content-copy {
    text-align: center;
  }

  .heading-wrapper {
    letter-spacing: .1em;
    text-transform: lowercase;
    border-bottom-width: 0;
    margin-top: .5rem;
    margin-bottom: 0;
    padding-top: .2rem;
    padding-right: 0;
  }

  .slider-arrow-icons {
    margin-left: 0;
    margin-right: 0;
  }

  .txt-content-subheading-fine {
    text-align: center;
  }

  .device-nav-logo {
    max-width: 80vw;
    padding-left: .5rem;
  }

  .device-nav-menu-button {
    border: .25rem solid var(--bg-white);
    flex: 1;
    justify-content: flex-end;
    padding: 0;
  }

  .device-nav-menu-button.w--open {
    background-color: var(--black);
  }

  .device-nav-menu-icon {
    justify-content: center;
    font-size: 4rem;
    display: flex;
  }

  .device-nav-menu-icon:hover {
    background-color: var(--content-button-gray);
  }

  .container-mobile {
    flex-flow: row-reverse;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    justify-content: flex-start;
    align-items: flex-end;
    padding-left: .5rem;
    padding-right: .5rem;
    display: block;
  }

  .device-nav {
    padding-bottom: .25rem;
    display: block;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }

  .device-nav-menu-wrapper {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    vertical-align: baseline;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: flex;
  }

  .device-nav-link-container {
    border-top: .2rem solid #000;
  }

  .device-mobile-nav-link {
    border: .1rem solid var(--content-button-gray);
    color: #000;
    text-align: center;
    letter-spacing: .1em;
    text-transform: uppercase;
    padding: 1.25rem;
    font-size: 1.75rem;
    text-decoration: none;
  }

  .device-mobile-nav-link:hover {
    background-color: var(--content-button-gray);
    color: var(--bg-white);
    mix-blend-mode: exclusion;
  }

  .device-mobile-nav-link.w--current {
    text-decoration: underline;
  }

  .device-mobile-nav-link:lang(en) {
    color: #000;
  }

  .device-footer {
    border-bottom-width: .25rem;
    grid-template-rows: auto;
    margin-left: .25rem;
    margin-right: .25rem;
    padding-bottom: .25rem;
  }

  .link-block.arrow:hover, .link-block.arrow.w--current:hover {
    background-color: rgba(0, 0, 0, 0);
  }

  .column-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .slider-arrow-right {
    margin-left: 2.5rem;
    margin-right: 0;
  }
}

@media screen and (max-width: 479px) {
  .body {
    padding: .175rem;
  }

  .section.desktop-nav {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .section.main {
    margin-bottom: 4.4rem;
    padding-bottom: .5rem;
  }

  .legal-link {
    padding-left: 0;
    padding-right: 0;
    display: block;
  }

  .legal-link.padding-left-zero {
    padding-right: 0;
    display: block;
  }

  .legal-wrapper.txt-upper-small {
    text-align: center;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
  }

  .content-heading {
    font-size: 1.2rem;
  }

  .content-heading.h2-content-heading-main {
    font-size: 1rem;
  }

  .content-wrapper.blockquote {
    padding-left: 0;
  }

  .txt-content.blockquote {
    text-align: center;
    margin-left: 1rem;
    padding-left: .25rem;
    padding-right: .25rem;
  }

  .page-heading {
    margin-right: -.1rem;
    font-size: 1rem;
  }

  .txt-content-subheading.starter {
    padding-left: 0;
    padding-right: 0;
    font-size: 1rem;
  }

  .txt-content-copy {
    padding-left: 0;
    font-size: .9rem;
  }

  .device-nav-logo {
    padding-right: .5rem;
  }

  .device-nav-menu-button {
    mix-blend-mode: darken;
    position: -webkit-sticky;
    position: sticky;
    top: 0%;
    bottom: 0%;
    left: auto;
    right: .175rem;
  }

  .device-nav-menu-icon {
    margin-bottom: -.25rem;
    font-size: 3rem;
  }

  .device-footer {
    grid-template-rows: auto;
    grid-template-columns: 1fr 4fr 1fr;
    align-items: start;
    margin-left: .175rem;
    margin-right: .175rem;
  }
}

#w-node-b34a2f31-7942-bf9a-b3bd-a0efb005ca60-358472a1, #w-node-b34a2f31-7942-bf9a-b3bd-a0efb005ca61-358472a1, #w-node-b34a2f31-7942-bf9a-b3bd-a0efb005ca63-358472a1 {
  justify-self: end;
}

#w-node-e39274ff-bdda-4832-bca1-6ba103c67b8f-358472a1 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-e39274ff-bdda-4832-bca1-6ba103c67baa-358472a1 {
  grid-area: span 4 / span 1 / span 4 / span 1;
}

#w-node-e39274ff-bdda-4832-bca1-6ba103c67bab-358472a1 {
  grid-area: span 3 / span 1 / span 3 / span 1;
}

#w-node-e39274ff-bdda-4832-bca1-6ba103c67bbc-358472a1 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_97b7669e-73b4-6816-f106-10459dca9771-358472a1 {
  align-self: center;
  justify-self: end;
}

#w-node-c2b90792-ce9d-9bf6-8c00-f70def37d7e1-358472a1 {
  justify-self: end;
}

#w-node-c2b90792-ce9d-9bf6-8c00-f70def37d7ec-358472a1 {
  align-self: center;
  justify-self: end;
}

#w-node-_5255857e-f281-57a0-42a7-57e4127e65ec-70bee66b, #w-node-_5255857e-f281-57a0-42a7-57e4127e65ed-70bee66b, #w-node-_5255857e-f281-57a0-42a7-57e4127e65ef-70bee66b {
  justify-self: end;
}

#w-node-_56cf001d-4e8f-9351-5689-c147c5e5a170-70bee66b {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_56cf001d-4e8f-9351-5689-c147c5e5a17e-70bee66b {
  grid-area: span 2 / span 1 / span 2 / span 1;
}

#w-node-_44da7cf5-cf02-c8b6-c621-5606b4c18035-70bee66b {
  align-self: center;
  justify-self: end;
}

#w-node-_3e1e94b5-cbeb-d162-dd1a-082b17f76284-70bee66b {
  justify-self: end;
}

#w-node-_3e1e94b5-cbeb-d162-dd1a-082b17f7628f-70bee66b {
  align-self: center;
  justify-self: end;
}

#w-node-_8b027120-3e60-e6a2-be89-b10ac9484aa0-e8fa4d55, #w-node-_8b027120-3e60-e6a2-be89-b10ac9484aa1-e8fa4d55, #w-node-_8b027120-3e60-e6a2-be89-b10ac9484aa3-e8fa4d55 {
  justify-self: end;
}

#w-node-d3e7cf99-bb49-fb8c-3ad1-1ab6aca5cb2a-e8fa4d55 {
  align-self: center;
  justify-self: end;
}

#w-node-_9a24f981-8d6f-8357-c6c3-2d3ecdd96e05-e8fa4d55 {
  justify-self: end;
}

#w-node-_9a24f981-8d6f-8357-c6c3-2d3ecdd96e10-e8fa4d55 {
  align-self: center;
  justify-self: end;
}

#w-node-_000ceeca-ff98-2765-96d9-89738a849a29-12d5f40b, #w-node-_000ceeca-ff98-2765-96d9-89738a849a2a-12d5f40b, #w-node-_000ceeca-ff98-2765-96d9-89738a849a2c-12d5f40b {
  justify-self: end;
}

#w-node-_38705631-4ada-445d-0256-46d36224c4f2-12d5f40b, #w-node-_38705631-4ada-445d-0256-46d36224c50f-12d5f40b {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_40f10fe7-3bd1-0c80-7d79-51a30360fcde-12d5f40b {
  align-self: center;
  justify-self: end;
}

#w-node-f69585b7-229e-e58c-da33-3fb7d3c48b97-12d5f40b {
  justify-self: end;
}

#w-node-f69585b7-229e-e58c-da33-3fb7d3c48ba2-12d5f40b {
  align-self: center;
  justify-self: end;
}

#w-node-dd2f671a-fe19-88bc-da4a-943237107d9a-42ef72da, #w-node-dd2f671a-fe19-88bc-da4a-943237107d9b-42ef72da, #w-node-dd2f671a-fe19-88bc-da4a-943237107d9d-42ef72da {
  justify-self: end;
}

#w-node-_4b607945-9b8b-5029-6b2f-1de633ac5d62-42ef72da {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-e04a18f2-e598-bfab-57ea-d419ed7db2ba-42ef72da {
  align-self: center;
  justify-self: end;
}

#w-node-_960b3c0f-4712-82f8-9955-efee5058c446-42ef72da {
  justify-self: end;
}

#w-node-_960b3c0f-4712-82f8-9955-efee5058c451-42ef72da {
  align-self: center;
  justify-self: end;
}

#w-node-_56ffc668-398a-879c-fb61-56c001b4c93c-a8d7997f, #w-node-_56ffc668-398a-879c-fb61-56c001b4c93d-a8d7997f, #w-node-_56ffc668-398a-879c-fb61-56c001b4c93f-a8d7997f {
  justify-self: end;
}

#w-node-_187555ee-9313-d13c-099a-528ff1d5c7e5-a8d7997f {
  align-self: center;
  justify-self: end;
}

#w-node-ad4d4951-08dc-e25c-2b21-6e47b26406e4-a8d7997f {
  justify-self: end;
}

#w-node-ad4d4951-08dc-e25c-2b21-6e47b26406ef-a8d7997f {
  align-self: center;
  justify-self: end;
}

#w-node-_6aa50d71-bcaa-cb5c-66a3-1131a05ac45f-39a801a1, #w-node-_6aa50d71-bcaa-cb5c-66a3-1131a05ac460-39a801a1, #w-node-_6aa50d71-bcaa-cb5c-66a3-1131a05ac462-39a801a1 {
  justify-self: end;
}

#w-node-f757cb03-41bd-3e0a-3b90-51425be608f3-39a801a1 {
  align-self: center;
  justify-self: end;
}

#w-node-_04fd77d3-a343-1c34-2012-0f8077d763c8-39a801a1 {
  justify-self: end;
}

#w-node-_04fd77d3-a343-1c34-2012-0f8077d763d3-39a801a1 {
  align-self: center;
  justify-self: end;
}

#w-node-_32bc1daa-8efe-4863-1a2f-6f38a121fa76-ec86490d, #w-node-_32bc1daa-8efe-4863-1a2f-6f38a121fa77-ec86490d, #w-node-b7d7dc53-118f-9dc8-77a4-8e2581c5dfbd-ec86490d {
  justify-self: end;
}

#w-node-a377763d-6921-ecef-2073-7a801d96ecdd-ec86490d {
  align-self: center;
  justify-self: end;
}

#w-node-_07e46cc7-6b50-3d9a-bee7-e4eff75d8313-ec86490d {
  justify-self: end;
}

#w-node-_07e46cc7-6b50-3d9a-bee7-e4eff75d831e-ec86490d {
  align-self: center;
  justify-self: end;
}

#w-node-_2d1332cd-56c9-67c4-9549-0aa52e82140e-9d34978c, #w-node-_2d1332cd-56c9-67c4-9549-0aa52e82140f-9d34978c, #w-node-_2d1332cd-56c9-67c4-9549-0aa52e821411-9d34978c {
  justify-self: end;
}

#w-node-e2073c0b-995f-5d7e-9f0f-db18af6810ec-9d34978c {
  align-self: center;
  justify-self: end;
}

#w-node-_6cfac1ec-c48c-68f0-90b0-742d4e59e83f-9d34978c {
  justify-self: end;
}

#w-node-_6cfac1ec-c48c-68f0-90b0-742d4e59e84a-9d34978c {
  align-self: center;
  justify-self: end;
}

@media screen and (max-width: 991px) {
  #w-node-b34a2f31-7942-bf9a-b3bd-a0efb005ca47-358472a1 {
    grid-area: span 1 / span 2 / span 1 / span 2;
    justify-self: start;
  }

  #w-node-b34a2f31-7942-bf9a-b3bd-a0efb005ca6c-358472a1 {
    align-self: center;
  }

  #w-node-_97b7669e-73b4-6816-f106-10459dca9771-358472a1 {
    grid-area: span 1 / span 2 / span 1 / span 2;
    align-self: center;
    justify-self: start;
  }

  #w-node-c2b90792-ce9d-9bf6-8c00-f70def37d7e1-358472a1 {
    grid-area: span 1 / span 2 / span 1 / span 2;
    justify-self: start;
  }

  #w-node-c2b90792-ce9d-9bf6-8c00-f70def37d7ea-358472a1 {
    grid-area: span 2 / span 1 / span 2 / span 1;
    align-self: center;
    justify-self: end;
  }

  #w-node-c2b90792-ce9d-9bf6-8c00-f70def37d7eb-358472a1 {
    grid-area: span 1 / span 1 / span 1 / span 1;
    align-self: end;
    justify-self: end;
  }

  #w-node-c2b90792-ce9d-9bf6-8c00-f70def37d7ec-358472a1 {
    grid-area: span 1 / span 2 / span 1 / span 2;
    align-self: center;
    justify-self: start;
  }

  #w-node-_5255857e-f281-57a0-42a7-57e4127e65d3-70bee66b {
    grid-area: span 1 / span 2 / span 1 / span 2;
    justify-self: start;
  }

  #w-node-_5255857e-f281-57a0-42a7-57e4127e65f8-70bee66b {
    align-self: center;
  }

  #w-node-_44da7cf5-cf02-c8b6-c621-5606b4c18035-70bee66b {
    grid-area: span 1 / span 2 / span 1 / span 2;
    align-self: center;
    justify-self: start;
  }

  #w-node-_3e1e94b5-cbeb-d162-dd1a-082b17f76284-70bee66b {
    grid-area: span 1 / span 2 / span 1 / span 2;
    justify-self: start;
  }

  #w-node-_3e1e94b5-cbeb-d162-dd1a-082b17f7628d-70bee66b {
    grid-area: span 2 / span 1 / span 2 / span 1;
    align-self: center;
    justify-self: end;
  }

  #w-node-_3e1e94b5-cbeb-d162-dd1a-082b17f7628e-70bee66b {
    grid-area: span 1 / span 1 / span 1 / span 1;
    align-self: end;
    justify-self: end;
  }

  #w-node-_3e1e94b5-cbeb-d162-dd1a-082b17f7628f-70bee66b {
    grid-area: span 1 / span 2 / span 1 / span 2;
    align-self: center;
    justify-self: start;
  }

  #w-node-_8b027120-3e60-e6a2-be89-b10ac9484a87-e8fa4d55 {
    grid-area: span 1 / span 2 / span 1 / span 2;
    justify-self: start;
  }

  #w-node-_8b027120-3e60-e6a2-be89-b10ac9484aac-e8fa4d55 {
    align-self: center;
  }

  #w-node-d3e7cf99-bb49-fb8c-3ad1-1ab6aca5cb2a-e8fa4d55 {
    grid-area: span 1 / span 2 / span 1 / span 2;
    align-self: center;
    justify-self: start;
  }

  #w-node-_9a24f981-8d6f-8357-c6c3-2d3ecdd96e05-e8fa4d55 {
    grid-area: span 1 / span 2 / span 1 / span 2;
    justify-self: start;
  }

  #w-node-_9a24f981-8d6f-8357-c6c3-2d3ecdd96e0e-e8fa4d55 {
    grid-area: span 2 / span 1 / span 2 / span 1;
    align-self: center;
    justify-self: end;
  }

  #w-node-_9a24f981-8d6f-8357-c6c3-2d3ecdd96e0f-e8fa4d55 {
    grid-area: span 1 / span 1 / span 1 / span 1;
    align-self: end;
    justify-self: end;
  }

  #w-node-_9a24f981-8d6f-8357-c6c3-2d3ecdd96e10-e8fa4d55 {
    grid-area: span 1 / span 2 / span 1 / span 2;
    align-self: center;
    justify-self: start;
  }

  #w-node-_000ceeca-ff98-2765-96d9-89738a849a10-12d5f40b {
    grid-area: span 1 / span 2 / span 1 / span 2;
    justify-self: start;
  }

  #w-node-_000ceeca-ff98-2765-96d9-89738a849a35-12d5f40b {
    align-self: center;
  }

  #w-node-_40f10fe7-3bd1-0c80-7d79-51a30360fcde-12d5f40b {
    grid-area: span 1 / span 2 / span 1 / span 2;
    align-self: center;
    justify-self: start;
  }

  #w-node-f69585b7-229e-e58c-da33-3fb7d3c48b97-12d5f40b {
    grid-area: span 1 / span 2 / span 1 / span 2;
    justify-self: start;
  }

  #w-node-f69585b7-229e-e58c-da33-3fb7d3c48ba0-12d5f40b {
    grid-area: span 2 / span 1 / span 2 / span 1;
    align-self: center;
    justify-self: end;
  }

  #w-node-f69585b7-229e-e58c-da33-3fb7d3c48ba1-12d5f40b {
    grid-area: span 1 / span 1 / span 1 / span 1;
    align-self: end;
    justify-self: end;
  }

  #w-node-f69585b7-229e-e58c-da33-3fb7d3c48ba2-12d5f40b {
    grid-area: span 1 / span 2 / span 1 / span 2;
    align-self: center;
    justify-self: start;
  }

  #w-node-dd2f671a-fe19-88bc-da4a-943237107d81-42ef72da {
    grid-area: span 1 / span 2 / span 1 / span 2;
    justify-self: start;
  }

  #w-node-dd2f671a-fe19-88bc-da4a-943237107da6-42ef72da {
    align-self: center;
  }

  #w-node-e04a18f2-e598-bfab-57ea-d419ed7db2ba-42ef72da {
    grid-area: span 1 / span 2 / span 1 / span 2;
    align-self: center;
    justify-self: start;
  }

  #w-node-_960b3c0f-4712-82f8-9955-efee5058c446-42ef72da {
    grid-area: span 1 / span 2 / span 1 / span 2;
    justify-self: start;
  }

  #w-node-_960b3c0f-4712-82f8-9955-efee5058c44f-42ef72da {
    grid-area: span 2 / span 1 / span 2 / span 1;
    align-self: center;
    justify-self: end;
  }

  #w-node-_960b3c0f-4712-82f8-9955-efee5058c450-42ef72da {
    grid-area: span 1 / span 1 / span 1 / span 1;
    align-self: end;
    justify-self: end;
  }

  #w-node-_960b3c0f-4712-82f8-9955-efee5058c451-42ef72da {
    grid-area: span 1 / span 2 / span 1 / span 2;
    align-self: center;
    justify-self: start;
  }

  #w-node-_56ffc668-398a-879c-fb61-56c001b4c923-a8d7997f {
    grid-area: span 1 / span 2 / span 1 / span 2;
    justify-self: start;
  }

  #w-node-_56ffc668-398a-879c-fb61-56c001b4c948-a8d7997f {
    align-self: center;
  }

  #w-node-_187555ee-9313-d13c-099a-528ff1d5c7e5-a8d7997f {
    grid-area: span 1 / span 2 / span 1 / span 2;
    align-self: center;
    justify-self: start;
  }

  #w-node-ad4d4951-08dc-e25c-2b21-6e47b26406e4-a8d7997f {
    grid-area: span 1 / span 2 / span 1 / span 2;
    justify-self: start;
  }

  #w-node-ad4d4951-08dc-e25c-2b21-6e47b26406ed-a8d7997f {
    grid-area: span 2 / span 1 / span 2 / span 1;
    align-self: center;
    justify-self: end;
  }

  #w-node-ad4d4951-08dc-e25c-2b21-6e47b26406ee-a8d7997f {
    grid-area: span 1 / span 1 / span 1 / span 1;
    align-self: end;
    justify-self: end;
  }

  #w-node-ad4d4951-08dc-e25c-2b21-6e47b26406ef-a8d7997f {
    grid-area: span 1 / span 2 / span 1 / span 2;
    align-self: center;
    justify-self: start;
  }

  #w-node-_6aa50d71-bcaa-cb5c-66a3-1131a05ac446-39a801a1 {
    grid-area: span 1 / span 2 / span 1 / span 2;
    justify-self: start;
  }

  #w-node-_6aa50d71-bcaa-cb5c-66a3-1131a05ac46b-39a801a1 {
    align-self: center;
  }

  #w-node-f757cb03-41bd-3e0a-3b90-51425be608f3-39a801a1 {
    grid-area: span 1 / span 2 / span 1 / span 2;
    align-self: center;
    justify-self: start;
  }

  #w-node-_04fd77d3-a343-1c34-2012-0f8077d763c8-39a801a1 {
    grid-area: span 1 / span 2 / span 1 / span 2;
    justify-self: start;
  }

  #w-node-_04fd77d3-a343-1c34-2012-0f8077d763d1-39a801a1 {
    grid-area: span 2 / span 1 / span 2 / span 1;
    align-self: center;
    justify-self: end;
  }

  #w-node-_04fd77d3-a343-1c34-2012-0f8077d763d2-39a801a1 {
    grid-area: span 1 / span 1 / span 1 / span 1;
    align-self: end;
    justify-self: end;
  }

  #w-node-_04fd77d3-a343-1c34-2012-0f8077d763d3-39a801a1 {
    grid-area: span 1 / span 2 / span 1 / span 2;
    align-self: center;
    justify-self: start;
  }

  #w-node-_32bc1daa-8efe-4863-1a2f-6f38a121fa5d-ec86490d {
    grid-area: span 1 / span 2 / span 1 / span 2;
    justify-self: start;
  }

  #w-node-_32bc1daa-8efe-4863-1a2f-6f38a121fa7e-ec86490d {
    align-self: center;
  }

  #w-node-a377763d-6921-ecef-2073-7a801d96ecdd-ec86490d {
    grid-area: span 1 / span 2 / span 1 / span 2;
    align-self: center;
    justify-self: start;
  }

  #w-node-_07e46cc7-6b50-3d9a-bee7-e4eff75d8313-ec86490d {
    grid-area: span 1 / span 2 / span 1 / span 2;
    justify-self: start;
  }

  #w-node-_07e46cc7-6b50-3d9a-bee7-e4eff75d831c-ec86490d {
    grid-area: span 2 / span 1 / span 2 / span 1;
    align-self: center;
    justify-self: end;
  }

  #w-node-_07e46cc7-6b50-3d9a-bee7-e4eff75d831d-ec86490d {
    grid-area: span 1 / span 1 / span 1 / span 1;
    align-self: end;
    justify-self: end;
  }

  #w-node-_07e46cc7-6b50-3d9a-bee7-e4eff75d831e-ec86490d {
    grid-area: span 1 / span 2 / span 1 / span 2;
    align-self: center;
    justify-self: start;
  }

  #w-node-_2d1332cd-56c9-67c4-9549-0aa52e8213f5-9d34978c {
    grid-area: span 1 / span 2 / span 1 / span 2;
    justify-self: start;
  }

  #w-node-_2d1332cd-56c9-67c4-9549-0aa52e82141a-9d34978c {
    align-self: center;
  }

  #w-node-e2073c0b-995f-5d7e-9f0f-db18af6810ec-9d34978c {
    grid-area: span 1 / span 2 / span 1 / span 2;
    align-self: center;
    justify-self: start;
  }

  #w-node-_6cfac1ec-c48c-68f0-90b0-742d4e59e83f-9d34978c {
    grid-area: span 1 / span 2 / span 1 / span 2;
    justify-self: start;
  }

  #w-node-_6cfac1ec-c48c-68f0-90b0-742d4e59e848-9d34978c {
    grid-area: span 2 / span 1 / span 2 / span 1;
    align-self: center;
    justify-self: end;
  }

  #w-node-_6cfac1ec-c48c-68f0-90b0-742d4e59e849-9d34978c {
    grid-area: span 1 / span 1 / span 1 / span 1;
    align-self: end;
    justify-self: end;
  }

  #w-node-_6cfac1ec-c48c-68f0-90b0-742d4e59e84a-9d34978c {
    grid-area: span 1 / span 2 / span 1 / span 2;
    align-self: center;
    justify-self: start;
  }
}

@media screen and (max-width: 767px) {
  #w-node-c2b90792-ce9d-9bf6-8c00-f70def37d7ea-358472a1, #w-node-_3e1e94b5-cbeb-d162-dd1a-082b17f7628d-70bee66b, #w-node-_9a24f981-8d6f-8357-c6c3-2d3ecdd96e0e-e8fa4d55, #w-node-f69585b7-229e-e58c-da33-3fb7d3c48ba0-12d5f40b, #w-node-_960b3c0f-4712-82f8-9955-efee5058c44f-42ef72da, #w-node-ad4d4951-08dc-e25c-2b21-6e47b26406ed-a8d7997f, #w-node-_04fd77d3-a343-1c34-2012-0f8077d763d1-39a801a1, #w-node-_07e46cc7-6b50-3d9a-bee7-e4eff75d831c-ec86490d, #w-node-_6cfac1ec-c48c-68f0-90b0-742d4e59e848-9d34978c {
    grid-row: span 1 / span 1;
  }
}

@media screen and (max-width: 479px) {
  #w-node-_97b7669e-73b4-6816-f106-10459dca9771-358472a1 {
    grid-area: span 1 / span 3 / span 1 / span 3;
  }

  #w-node-c2b90792-ce9d-9bf6-8c00-f70def37d7ea-358472a1 {
    align-self: center;
    justify-self: end;
  }

  #w-node-c2b90792-ce9d-9bf6-8c00-f70def37d7ec-358472a1 {
    grid-area: span 3 / span 3 / span 3 / span 3;
    align-self: auto;
    justify-self: auto;
  }

  #w-node-_44da7cf5-cf02-c8b6-c621-5606b4c18035-70bee66b {
    grid-area: span 1 / span 3 / span 1 / span 3;
  }

  #w-node-_3e1e94b5-cbeb-d162-dd1a-082b17f7628d-70bee66b {
    align-self: center;
    justify-self: end;
  }

  #w-node-_3e1e94b5-cbeb-d162-dd1a-082b17f7628f-70bee66b {
    grid-area: span 3 / span 3 / span 3 / span 3;
    align-self: auto;
    justify-self: auto;
  }

  #w-node-d3e7cf99-bb49-fb8c-3ad1-1ab6aca5cb2a-e8fa4d55 {
    grid-area: span 1 / span 3 / span 1 / span 3;
  }

  #w-node-_9a24f981-8d6f-8357-c6c3-2d3ecdd96e0e-e8fa4d55 {
    align-self: center;
    justify-self: end;
  }

  #w-node-_9a24f981-8d6f-8357-c6c3-2d3ecdd96e10-e8fa4d55 {
    grid-area: span 3 / span 3 / span 3 / span 3;
    align-self: auto;
    justify-self: auto;
  }

  #w-node-_40f10fe7-3bd1-0c80-7d79-51a30360fcde-12d5f40b {
    grid-area: span 1 / span 3 / span 1 / span 3;
  }

  #w-node-f69585b7-229e-e58c-da33-3fb7d3c48ba0-12d5f40b {
    align-self: center;
    justify-self: end;
  }

  #w-node-f69585b7-229e-e58c-da33-3fb7d3c48ba2-12d5f40b {
    grid-area: span 3 / span 3 / span 3 / span 3;
    align-self: auto;
    justify-self: auto;
  }

  #w-node-e04a18f2-e598-bfab-57ea-d419ed7db2ba-42ef72da {
    grid-area: span 1 / span 3 / span 1 / span 3;
  }

  #w-node-_960b3c0f-4712-82f8-9955-efee5058c44f-42ef72da {
    align-self: center;
    justify-self: end;
  }

  #w-node-_960b3c0f-4712-82f8-9955-efee5058c451-42ef72da {
    grid-area: span 3 / span 3 / span 3 / span 3;
    align-self: auto;
    justify-self: auto;
  }

  #w-node-_187555ee-9313-d13c-099a-528ff1d5c7e5-a8d7997f {
    grid-area: span 1 / span 3 / span 1 / span 3;
  }

  #w-node-ad4d4951-08dc-e25c-2b21-6e47b26406ed-a8d7997f {
    align-self: center;
    justify-self: end;
  }

  #w-node-ad4d4951-08dc-e25c-2b21-6e47b26406ef-a8d7997f {
    grid-area: span 3 / span 3 / span 3 / span 3;
    align-self: auto;
    justify-self: auto;
  }

  #w-node-f757cb03-41bd-3e0a-3b90-51425be608f3-39a801a1 {
    grid-area: span 1 / span 3 / span 1 / span 3;
  }

  #w-node-_04fd77d3-a343-1c34-2012-0f8077d763d1-39a801a1 {
    align-self: center;
    justify-self: end;
  }

  #w-node-_04fd77d3-a343-1c34-2012-0f8077d763d3-39a801a1 {
    grid-area: span 3 / span 3 / span 3 / span 3;
    align-self: auto;
    justify-self: auto;
  }

  #w-node-a377763d-6921-ecef-2073-7a801d96ecdd-ec86490d {
    grid-area: span 1 / span 3 / span 1 / span 3;
  }

  #w-node-_07e46cc7-6b50-3d9a-bee7-e4eff75d831c-ec86490d {
    align-self: center;
    justify-self: end;
  }

  #w-node-_07e46cc7-6b50-3d9a-bee7-e4eff75d831e-ec86490d {
    grid-area: span 3 / span 3 / span 3 / span 3;
    align-self: auto;
    justify-self: auto;
  }

  #w-node-e2073c0b-995f-5d7e-9f0f-db18af6810ec-9d34978c {
    grid-area: span 1 / span 3 / span 1 / span 3;
  }

  #w-node-_6cfac1ec-c48c-68f0-90b0-742d4e59e848-9d34978c {
    align-self: center;
    justify-self: end;
  }

  #w-node-_6cfac1ec-c48c-68f0-90b0-742d4e59e84a-9d34978c {
    grid-area: span 3 / span 3 / span 3 / span 3;
    align-self: auto;
    justify-self: auto;
  }
}


